<footer class="{{ .Site.Params.background_color_class | compare.Default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-center">
    <a class="f6 fw4 hover-white white-70 dib pv2 ph3 no-underline tc" href="{{ "/about" | relLangURL }}" >
      &copy; {{ now.Format "2006"}} {{ with .Site.Copyright | compare.Default .Site.Title }} {{ . | safe.HTML }}. {{ end }}
      <br>This is a research project webpage, and not an official Unicamp webpage.
      <br>Its contents are entirely the responsibility of the project coordinators.
    </a>
  </div>
</footer>